* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: skyblue;
}

main {
  width: 450px;
  height:  500px;
  background-color: #eee;
  border-radius: 10px;
  position: relative;
}

header {
  margin: 60px auto;
  width: 80%;
  text-align: center;
}


header nav {
  display: inline-block;
  font-weight: 600;
  font-size: 1.1rem;
  opacity: 0.4;
  margin: 0 8px;
}

nav.login {
  border-bottom: darkslateblue 2px solid;
  opacity: 1;
}

form {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}

form input {
  display: block;
  margin: .5rem auto;
  height: 2rem;
  width: 60%;
  /* border: skyblue solid 1px; */
  border: none;
  border-radius: 4px;
  opacity: 0.7;
  padding: 0 10px;
  border-right: grey solid 6px;
  text-align: center;
}

input:valid {
  border-right: 6px solid yellowgreen;
}

form button {
  width: 6.2rem;
  margin: 2rem auto;
  height: 1.9rem;
  opacity: 0.8;
  border: 1px solid skyblue;
  border-radius: 4px;
  background-color: skyblue;
  color: snow;
}



section {
  color: orangered;
  text-align: center;
  display: block;
  margin: 1rem auto;
}

footer {
  text-align: center;
  font-size: 12px;
  /* background-color: #fff; */
}

.nerverClick {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.2;
}

.canClick {
  pointer-events: all;
  cursor: pointer;
  opacity: 1;
}